{
    "extends": "airbnb",
    "rules":{
        "no-console": "off",
        "no-underscore-dangle":["error", {"allow": ["_id", "_metadata"] }],
        "no-param-reassign": ["error", { "props": false }],
        "max-len": "off"
    },
    "env": {
        "browser": true
    }
}